[Unit]
Description=WSO2 ESB Service
After=haproxy.service

[Service]
Type=simple
User={{ wso2_esb_user }}
Group={{ wso2_esb_user }}
Environment="CARBON_HOME=/opt/wso2esb-{{ subrole }}"
Environment="JAVA_HOME=/usr/java/latest"
ExecStart=/opt/wso2esb-{{ subrole }}/bin/wso2server.sh -Dsetup {% if subrole != "manager" %} -DworkerNode=true {% endif %}  
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
